<header id="content-header">
  <h1>Registrations for <%= link_to(@event.name, @event) %></h1>
</header>

<ol>
  <% @registrations.each do |r| %>
    <li>
      <%= link_to r.user.name, r.user%>
      <span class="date">
        <%= time_ago_in_words(r.created_at) %> ago
      </span>
      <span class="how-header">
        (<%= r.how_heard %>)
      </span>
    </li>
  <% end %>
</ol>