<header id="page-header">
  <div id="masthead">
    <h1><%= link_to "Rozay's Events", root_path, class: "one" %></h1>
    <nav>
      <p>
        <%= link_to 'Sign Up', signup_path, class: 'button' %>
      </p>
    </nav>
  </div>
</header>
