<aside style="background: #c5c9c9; width: 200px; float: right;">
  <nav>
    <ul>
      <li>
        <%= link_to "All Events", events_path%> 
      </li>
      <li>
        <%= link_to "Add New Event", new_event_path %>
      </li>
    </ul>
  </nav>
</aside>